<h1>Change password</h1>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <div class="mt-0_5">
        <label for="password">Password</label>

        @if (formErrors.passwordMissing) {
            <label class="text-red" for="password"> - Missing password</label>
        }

        <input id="password" type="password" autocomplete="" formControlName="password">
    </div>

    <div class="mt-0_5">
        <label for="password-repeat">Password repeat</label>

        @if (formErrors.passwordRepeatMissing) {
            <label class="text-red" for="password-repeat"> - Missing password</label>
        }
        @if (formErrors.passwordUnequal) {
            <label class="text-red" for="password-repeat"> - Unequal password</label>
        }

        <input id="password-repeat" type="password" autocomplete="" formControlName="passwordRepeat">
    </div>

    <button type="submit" class="mt-1_25">Change Password</button>

</form>

<dialog #settings.changeUserDetails.successChangePassword>
    <p class="mt-1_25 text-center text-green">Password successfully changed.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog #settings.changeUserDetails.errorChangePassword>
    <p class="mt-1_25 text-center text-green">Error changing password.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
