<div class="page-headline">
    <h1>Purchases</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.purchases_new}}" class="nav-top-link">New</a>
    </div>
</div>

<div class="page-content">

    <div class="bar">
        <div class="bar-element text-green">Payments</div>
        <div class="bar-element text-green">Purchases</div>
        <div class="bar-element text-green">Total</div>
    </div>
    <div class="bar">
        <div class="bar-element text-green">{{ accountBalance?.amountPayments }}</div>
        <div class="bar-element text-green">{{ accountBalance?.amountPurchases }}</div>
        <div class="bar-element" [ngClass]="isNegative ? 'text-red' : 'text-green'">{{ accountBalance?.amountTotal }}
        </div>
    </div>

    <hr>

    <ul class="list scrollable">
        <li *ngIf="purchases === undefined|| purchases?.length === 0" class="list-item">
            <p class="text-green text-center">No purchases</p>
        </li>
        <li *ngFor="let purchase of purchases; let i = index" (click)="onClick(i)" (keydown)="onClick(i)"
            class="list-item-two-rows">
            <p class="list-item-two-rows-top">{{ purchase.purchaseTimestamp | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</p>
            <p class="list-item-two-rows-bottom-left">{{ purchase.productName }}</p>
            <p class="list-item-two-rows-bottom-right">{{ purchase.productPrice }}</p>
        </li>
    </ul>

</div>

<dialog id="#purchases.errorReadingPurchases">
    <p class="mt-1_25 text-center text-green">Error reading purchase.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
<dialog id="#purchases.errorReadingAccountBalance">
    <p class="mt-1_25 text-center text-green">Error reading account balance.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
