<div class="page-headline">
    <h1>Delete Payment</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.payments}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <table aria-hidden="true">
        <tr>
            <td class="table-row-left">Timestamp:</td>
            <td class="table-row-right">{{ payment?.timestamp | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
        </tr>
        <tr>
            <td class="table-row-left">Amount:</td>
            <td class="table-row-right">{{ payment?.amount }}</td>
        </tr>

    </table>

    <button (click)="onClickDelete()" class="mt-1_25">Delete</button>

</div>

<dialog id="#payments.paymentDelete.successDeletePayment">
    <p class="mt-1_25 text-center text-green">Payment successfully deleted.</p>
</dialog>
<dialog id="#settings.paymentDelete.errorDeletePayment">
    <p class="mt-1_25 text-center text-green">Error deleting payment.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
