<div class="page-headline">
    <h1>New Purchase</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.purchases}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <ul class="list scrollable">
        <li *ngIf="products === undefined|| products?.length === 0" class="list-item">
            <p class="text-green text-center">No products</p>
        </li>
        <li *ngFor="let product of products; let i = index" (click)="onClick(i)" (keydown)="onClick(i)"
            class="list-item">
            <p class="list-item-left"
               [class.list-item-selected-text]="product.id == selectedProduct?.id">{{ product.name }}</p>
            <p class="list-item-right"
               [class.list-item-selected-text]="product.id == selectedProduct?.id">{{ product.price }}</p>
        </li>
    </ul>

    <button type="submit" (click)="onSubmit()" class="mt-1_25">Purchase</button>

</div>

<dialog id="#purchases.purchaseNew.errorReadingProducts">
    <p class="mt-1_25 text-center text-green">Error reading products.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>

<dialog id="#purchases.purchaseNew.errorNoProductSelected">
    <p class="mt-1_25 text-center text-green">No product selected.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>

<dialog id="#purchases.purchaseNew.successCreatingPurchase">
    <p class="mt-1_25 text-center text-green">Purchase successfully created.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog id="#purchases.purchaseNew.errorCreatingPurchase">
    <p class="mt-1_25 text-center text-green">Error creating purchase.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
