<div class="page-headline">
    <h1>Payments</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.payments_new}}" class="nav-top-link">New</a>
    </div>
</div>

<div class="page-content">

    <div class="bar">
        <div class="bar-element text-green">Payments</div>
        <div class="bar-element text-green">Purchases</div>
        <div class="bar-element text-green">Total</div>
    </div>
    <div class="bar">
        <div class="bar-element text-green">{{ accountBalance?.amountPayments }}</div>
        <div class="bar-element text-green">{{ accountBalance?.amountPurchases }}</div>
        <div class="bar-element text-green" [ngClass]="{'text-red': isNegative}">{{ accountBalance?.amountTotal }}</div>
    </div>

    <hr>

    <ul class="list scrollable">
        <li *ngIf="payments === undefined|| payments?.length === 0" class="list-item">
            <p class="text-green text-center">No payments</p>
        </li>
        <li *ngFor="let payment of payments; let i = index" (click)="onClick(i)" (keydown)="onClick(i)"
            class="list-item">
            <p class="list-item-left">{{ payment.timestamp | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</p>
            <p class="list-item-right">{{ payment.amount }}</p>
        </li>
    </ul>

</div>

<dialog id="#payments.errorReadingPayments">
    <p class="mt-1_25 text-center text-green">Error reading payments.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog id="#payments.errorReadingAccountBalance">
    <p class="mt-1_25 text-center text-green">Error reading account balance.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
