<div class="page-headline">
    <h1>Delete Purchase</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.purchases}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <table aria-hidden="true">
        <tr>
            <td class="table-row-left">Product:</td>
            <td class="table-row-right">{{ purchase?.productName }}</td>
        </tr>
        <tr>
            <td class="table-row-left">Price:</td>
            <td class="table-row-right">{{ purchase?.productPrice }}</td>
        </tr>
        <tr>
            <td class="table-row-left">Timestamp:</td>
            <td class="table-row-right">{{ purchase?.purchaseTimestamp | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
        </tr>

    </table>

    <button (click)="onClickDelete()" class="mt-1_25">Delete</button>

</div>

<dialog id="#purchases.purchaseDelete.successDeletingPurchase">
    <p class="mt-1_25 text-center text-green">Purchase successfully deleted.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog id="#purchases.purchaseDelete.errorDeletingPurchase">
    <p class="mt-1_25 text-center text-green">Error deleting purchase.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
