<div class="page-content">

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!emailSent">

        <div class="mt-0_5">
            <label for="email">Email</label>
            <label for="email" *ngIf="emailInvalid"> - Invalid email</label>
            <input id="email" type="text" autocomplete="email" formControlName="email">
        </div>

        <button type="submit" class="mt-1_25">Reset Password</button>

    </form>

    <div *ngIf="emailSent">
        <p class="mt-1_25 text-center text-green">An email has been sent to {{ email }}.</p>
        <p class="mt-1_25 text-center text-green">Login with the new password from the email and change the
            password.</p>
    </div>

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.login}}" class="text-green">Login</a>
    </div>

</div>

<dialog id="#reset-password.errorResetPassword">
    <p class="mt-1_25 text-center text-green">Error on resetting password.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
