<div class="page-content">

    @if (!emailSent) {
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mt-0_5">
                <label for="email">Email</label>
                
                @if (formErrors.emailMissing) {
                    <label class="text-red" for="email"> - Missing email</label>
                }
                @if (formErrors.emailInvalid) {
                    <label class="text-red" for="email"> - Invalid email</label>
                }

                <input id="email" type="text" autocomplete="email" formControlName="email">
            </div>
            <button type="submit" class="mt-1_25">Reset Password</button>
        </form>
    }

    <!-- @formatter:off -->
    @if (emailSent) {
        <div>
            <p class="mt-1_25 text-center text-green">An email has been sent to {{ email }}.</p>
            <p class="mt-1_25 text-center text-green">Login with the new password from the email and change the password.</p>
        </div>
    }
    <!-- @formatter:on -->

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.login}}" class="text-green">Login</a>
    </div>

</div>

<dialog #reset_password.errorResetPassword>
    <p class="mt-1_25 text-center text-green">Error on resetting password.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
