<div class="page-content">

    <p class="mt-1_25 text-center text-green">Registration is complete.</p>
    <p class="mt-1_25 text-center text-green">You can login now.</p>

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.login}}" class="text-green">Login</a>
    </div>

</div>

<dialog id="#register.registerConfirm.errorRegisterConfirm">
    <p class="mt-1_25 text-center text-green">Error changing invitation code.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
