<div class="page-headline">
    <h1>New Payment</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.payments}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <form [formGroup]="newPaymentForm" (ngSubmit)="onSubmit()">

        <div class="mt-0_5">
            <label for="amount">Amount</label>

            <!-- @formatter:off -->
            <label class="text-red" for="amount" *ngIf="formErrors.amountMissing"> - Missing amount</label>
            <label class="text-red" for="amount" *ngIf="formErrors.amountPatternInvalid"> - Not a valid amount</label>
            <!-- @formatter:on -->

            <input id="amount" type="text" autocomplete="" formControlName="amount">
        </div>

        <button type="submit" class="mt-1_25">Save</button>

    </form>

</div>

<dialog id="#payments.paymentNew.successCreatePayment">
    <p class="mt-1_25 text-center text-green">Payment successfully created.</p>
</dialog>
<dialog id="#settings.changeInvitationCode.errorChangeInvitationCode">
    <p class="mt-1_25 text-center text-green">Error creating payment.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
