<h1>Change invitation code</h1>

<form [formGroup]="changeInvitationCodeForm" (ngSubmit)="onSubmit()">

    <div class="mt-0_5">
        <label for="invitation-code">Invitation code</label>

        <!-- @formatter:off -->
        <label class="text-red" for="invitation-code" *ngIf="formErrors.invitationCodeMissing"> - Missing invitation code</label>
        <!-- @formatter:on -->

        <input id="invitation-code" type="password" autocomplete="" formControlName="invitationCode">
    </div>

    <div class="mt-0_5">
        <label for="invitation-code-repeat">Invitation code repeat</label>

        <!-- @formatter:off -->
        <label class="text-red" for="invitation-code-repeat" *ngIf="formErrors.invitationCodeRepeatMissing"> - Missing invitation code</label>
        <label class="text-red" for="invitation-code-repeat" *ngIf="formErrors.invitationCodeUnequal"> - Unequal invitation code</label>
        <!-- @formatter:on -->

        <input id="invitation-code-repeat" type="password" autocomplete="" formControlName="invitationCodeRepeat">
    </div>

    <button type="submit" class="mt-1_25">Change Invitation Code</button>

</form>

<dialog id="#settings.changeInvitationCode.successChangeInvitationCode">
    <p class="mt-1_25 text-center text-green">Invitation code successfully changed.</p>
</dialog>
<dialog id="#settings.changeInvitationCode.errorChangeInvitationCode">
    <p class="mt-1_25 text-center text-green">Error changing invitation code.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
