<div class="page-content">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="mt-0_5">
            <label for="email">Email</label>

            <!-- @formatter:off -->
            <label class="text-red" for="email" *ngIf="formErrors.emailMissing"> - Missing email</label>
            <label class="text-red" for="email" *ngIf="formErrors.emailInvalid"> - Invalid email</label>
            <!-- @formatter:on -->

            <input id="email" type="text" autocomplete="email" formControlName="email">
        </div>

        <div class="mt-0_5">
            <label for="password">Password</label>

            <!-- @formatter:off -->
            <label class="text-red" for="password" *ngIf="formErrors.passwordMissing"> - Missing password</label>
            <!-- @formatter:on -->

            <input id="password" type="password" autocomplete="current-password" formControlName="password">
        </div>

        <button type="submit" class="mt-1_25">Login</button>

    </form>

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.register}}" class="text-green">Create Account</a>
    </div>

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.reset_password}}" class="text-green">Forgot password?</a>
    </div>

</div>

<dialog id="#login.errorLogin">
    <p class="mt-1_25 text-center text-green">Error on login.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog id="#login.errorLoginCookie">
    <p class="mt-1_25 text-center text-green">Cookie not set.</p>
    <p class="mt-1_25 text-center text-green">Probably because it needs to be sent over a secure HTTPS connection.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
