<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="mt-0_5">
        <label for="username">User</label>
        <input id="username" type="text" autocomplete="username" formControlName="username">
    </div>

    <div class="mt-0_5">
        <label for="password">Password</label>
        <input id="password" type="password" autocomplete="current-password" formControlName="password">
    </div>

    <button type="submit" class="mt-1_25">Login</button>

</form>

<div class="mt-1_25 text-center">
    <a routerLink="/{{routeName.register}}" class="text-green">Create Account</a>
</div>
