<div class="page-headline">
    <h1>New Product</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.products}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">

        <div class="mt-0_5">
            <label for="name">Name</label>

            <!-- @formatter:off -->
            <label class="text-red" for="name" *ngIf="formErrors.nameMissing"> - Missing name</label>
            <!-- @formatter:on -->

            <input id="name" type="text" autocomplete="" formControlName="name">
        </div>

        <div class="mt-0_5">
            <label for="price">Price</label>

            <!-- @formatter:off -->
            <label class="text-red" for="price" *ngIf="formErrors.priceMissing"> - Missing price</label>
            <label class="text-red" for="price" *ngIf="formErrors.pricePatternInvalid"> - Not a valid price</label>
            <!-- @formatter:on -->

            <input id="price" type="text" autocomplete="" formControlName="price">
        </div>

        <button type="submit" class="mt-1_25">Save</button>

    </form>

</div>

<dialog id="#products.productNew.successCreateProduct">
    <p class="mt-1_25 text-center text-green">Product successfully created.</p>
</dialog>
<dialog id="#products.productNew.errorCreateProduct">
    <p class="mt-1_25 text-center text-green">Error creating product.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
