<div class="page-headline">
    <h1>New Product</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.products}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">

        <div class="mt-0_5">
            <label for="name">Name</label>

            @if (formErrors.nameMissing) {
                <label class="text-red" for="name"> - Missing name</label>
            }

            <input id="name" type="text" autocomplete="" formControlName="name">
        </div>

        <div class="mt-0_5">
            <label for="price">Price</label>

            @if (formErrors.priceMissing) {
                <label class="text-red" for="price"> - Missing price</label>
            }
            @if (formErrors.pricePatternInvalid) {
                <label class="text-red" for="price"> - Not a valid price</label>
            }

            <input id="price" type="text" autocomplete="" formControlName="price">
        </div>

        <button type="submit" class="mt-1_25">Save</button>

    </form>

</div>

<dialog #products.productNew.successCreateProduct>
    <p class="mt-1_25 text-center text-green">Product successfully created.</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
<dialog #products.productNew.errorCreateProduct>
    <p class="mt-1_25 text-center text-green">Error creating product.</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
