<div class="page-headline">
    <h1>Edit Product</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.products}}" class="nav-top-link">Back</a>
    </div>
</div>

<div class="page-content">

    <form [formGroup]="changeNameForm" (ngSubmit)="onSubmitChangeName()">

        <div class="mt-0_5">
            <label for="name">Name</label>

            <!-- @formatter:off -->
            <label class="text-red" for="name" *ngIf="formErrorsChangeName.nameMissing"> - Missing name</label>
            <!-- @formatter:on -->

            <input id="name" type="text" autocomplete="" formControlName="name">
        </div>

        <button type="submit" class="mt-1_25">Change</button>

    </form>

    <hr>

    <form [formGroup]="changePriceForm" (ngSubmit)="onSubmitChangePrice()" class="mt-1_25">

        <div class="mt-0_5">
            <label for="price">Price</label>

            <!-- @formatter:off -->
            <label class="text-red" for="price" *ngIf="formErrorsChangePrice.priceMissing"> - Missing price</label>
            <label class="text-red" for="price" *ngIf="formErrorsChangePrice.pricePatternInvalid"> - Not a valid price</label>
            <!-- @formatter:on -->

            <input id="price" type="text" autocomplete="" formControlName="price">
        </div>

        <button type="submit" class="mt-1_25">Change</button>

    </form>

</div>

<dialog id="#products.productEdit.successChangeName">
    <p class="mt-1_25 text-center text-green">Name successfully changed.</p>
</dialog>
<dialog id="#products.productEdit.errorChangeName">
    <p class="mt-1_25 text-center text-green">Error changing name.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>

<dialog id="#products.productEdit.successChangePrice">
    <p class="mt-1_25 text-center text-green">Price successfully changed.</p>
</dialog>
<dialog id="#products.productEdit.errorChangePrice">
    <p class="mt-1_25 text-center text-green">Error changing price.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
</dialog>
