$custom-black: #181818;
$custom-green: #33da7a;
$custom-blue: #2563eb;
$custom-red: #802929;

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  display: none;
}

@font-face {
  font-family: "Roboto";
  src: url("media/Roboto-Light.woff2") format("woff2");
}

body {
  @extend .bg-black;
  margin: 0 !important; /* Remove default margin */
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;

  /* Fix height to screen height */
  position: fixed;
  top: 0;
  bottom: 0;
}

app-root {
  width: 100%;
  height: 100%;

  /* Fix height to screen height */
  position: fixed;
  top: 0;
  bottom: 0;
}

.app-content {
  /* Fix height to screen height */
  position: fixed;
  top: 0;

  width: 100%;
  height: calc(100% - 3rem);
}

.page-headline {
  width: 100%;
  height: 3rem;
  border-bottom: 1px solid $custom-green;
}

.page-content {

  /* Center in the middle of the screen */
  max-width: 20rem; /* 320px */
  margin-left: auto;
  margin-right: auto;

  height: calc(100% - 4rem);

  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 3rem;

  list-style-type: none;

  border-top: 1px solid $custom-green;

  position: fixed;
  margin: 0;
  padding: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar-element {
  height: 3rem;
  width: 5rem;
}

.navbar-link {
  height: 100%;
  @extend .text-sm;
  @extend .text-b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-top {
  position: absolute;
  right: 2rem;
  top: 0.85rem;
}

.nav-top-link {
  @extend .text-sm;
  @extend .text-green;
}

.bar {
  @extend .mt-0_5;
  display: flex;
}

.bar-element {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  @extend .text-sm;
  display: flex;
  border-bottom: 1px solid $custom-green;
}

.list-item-selected-text {
  @extend .text-blue;
}

.list-item-left {
  @extend .text-green;
  @extend .text-left;
  flex: 1;
}

.list-item-right {
  @extend .text-green;
  @extend .text-right;
}

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
}

.table-row-left {
  @extend .text-green;
  @extend .text-sm;
  @extend .text-left;
}

.table-row-right {
  @extend .text-green;
  @extend .text-sm;
  @extend .text-right;
}

h1 {
  @extend .text-lg;
  @extend .text-green;
  @extend .text-b;
  @extend .text-center;
}

label {
  @extend .text-sm;
  @extend .text-green;
  @extend .text-b;
}

input {
  width: 100%;
  @extend .py-0_5;
  @extend .bg-transparent;
  @extend .border-round;
  @extend .border-green;
  @extend .text-sm;
  @extend .text-green;
  outline: none;
  box-sizing: border-box; // Same size as form element
}

input:focus {
  @extend .border-blue;
}

button {
  width: 100%;
  @extend .mt-0_5;
  @extend .py-0_5;
  @extend .bg-transparent;
  @extend .border-green;
  @extend .border-round;
  @extend .text-sm;
  @extend .text-green;
}

button:active {
  @extend .border-blue;
}

hr {
  width: calc(100% - 4px);
  @extend .mt-1_25;
  @extend .border-green;
}

dialog {
  @extend .bg-black;
  border: none;
}

dialog::backdrop {
  width: 100%;
  height: 100%;
  @extend .bg-black;
}

////////////////////////////////////////////////
// Raw Classes

.border-black {
  border: 1px solid $custom-black;
}

.border-green {
  border: 1px solid $custom-green;
}

.border-blue {
  border: 1px solid $custom-blue;
}

.border-red {
  border: 1px solid $custom-red;
}

.border-round {
  border-radius: 0.25rem; /* 4px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-lg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.text-green {
  color: $custom-green;
}

.text-blue {
  color: $custom-blue;
}

.text-red {
  color: $custom-red;
}

.text-b {
  font-weight: bold;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.mt-0_5 {
  margin-top: 0.5rem; /* 8px */
}

.mt-1_25 {
  margin-top: 1.25rem; /* 20px */
}

.py-0_5 {
  padding-top: 0.5rem; /* 8px */
  padding-bottom: 0.5rem; /* 8px */
}

.bg-black {
  background-color: $custom-black;
}

.bg-green {
  background-color: $custom-green;
}

.bg-transparent {
  background-color: transparent;
}


////////////////////////////////////////////////
// Loader

/* On Desktop show waiting cursor. */
.cursor-loader {
  cursor: wait;

  * {
    cursor: wait !important;
  }
}

/* On all devices show a spinner. */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: $custom-green;
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes l15 {
  100% {
    transform: rotate(1turn)
  }
}
