<div class="page-content">

    @if (!emailSent) {
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mt-0_5">
                <label for="email">Email</label>

                @if (formErrors.emailMissing) {
                    <label class="text-red" for="email"> - Missing email</label>
                }
                @if (formErrors.emailInvalid) {
                    <label class="text-red" for="email"> - Invalid email</label>
                }

                <input id="email" type="text" autocomplete="email" formControlName="email">
            </div>
            <div class="mt-0_5">
                <label for="password">Password</label>

                @if (formErrors.passwordMissing) {
                    <label class="text-red" for="password"> - Missing password</label>
                }

                <input id="password" type="password" autocomplete="current-password" formControlName="password">
            </div>
            <div class="mt-0_5">
                <label for="password-repeat">Password repeat</label>

                @if (formErrors.passwordRepeatMissing) {
                    <label class="text-red" for="password-repeat"> - Missing password</label>
                }
                @if (formErrors.passwordUnequal) {
                    <label class="text-red" for="password-repeat"> - Unequal password</label>
                }

                <input id="password-repeat" type="password" autocomplete="current-password"
                       formControlName="passwordRepeat">
            </div>
            <div class="mt-0_5">
                <label for="invitation-code">Invitation code</label>

                @if (formErrors.invitationCodeMissing) {
                    <label class="text-red" for="invitation-code"> - Missing invitation code</label>
                }

                <input id="invitation-code" type="password" autocomplete="" formControlName="invitationCode">
            </div>
            <button type="submit" class="mt-1_25">Create account</button>
        </form>
    }

    @if (emailSent) {
        <div>
            <p class="mt-1_25 text-center text-green">An email has been sent to {{ email }}.</p>
            <p class="mt-1_25 text-center text-green">Click on the link in the email to complete the registration.</p>
        </div>
    }

    <div class="mt-1_25 text-center">
        <a routerLink="/{{routeName.login}}" class="text-green">Login</a>
    </div>

</div>

<dialog #register.errorRegister>
    <p class="mt-1_25 text-center text-green">Error register.</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
