<div class="page-headline">
    <h1>Users</h1>
</div>

<div class="page-content">

    <ul class="list scrollable">
        <li *ngIf="users === undefined|| users?.length === 0" class="list-item">
            <p class="text-green text-center">No users</p>
        </li>
        <li *ngFor="let user of users" class="list-item-two-rows">
            <p class="list-item-two-rows-top-left">{{ user.email }}</p>
            <p class="list-item-two-rows-top-right"
               [ngClass]="isNegative(user.accountBalance) ? 'text-red' : 'text-green'">{{ user.accountBalance }}</p>
            <p class="list-item-two-rows-bottom-left text-vsm">{{ user.roles.join(", ") }}</p>
            <!-- @formatter:off -->
            <p class="list-item-two-rows-bottom-right text-vsm">({{ user.registrationComplete ? "v" : "x" }}) {{ user.registrationOn | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</p>
            <!-- @formatter:on -->
        </li>
    </ul>

</div>

<dialog id="#users.errorReadingUsers">
    <p class="mt-1_25 text-center text-green">Error reading users.</p>
    <p class="mt-1_25 text-center text-green">{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green">{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
