<div class="page-headline">
    <h1>Users</h1>
</div>

<div class="page-content">

    <ul class="list scrollable">

        <!-- @formatter:off -->
        @for (user of users; track user) {
            <li class="list-item-two-rows">
                <p class="list-item-two-rows-top-left" translate=no>{{ user.email }}</p>
                <p class="list-item-two-rows-top-right" [ngClass]="isNegative(user.accountBalance) ? 'text-red' : 'text-green'">{{ user.accountBalance }} {{ currency }}</p>
                <p class="list-item-two-rows-bottom-left text-vsm" translate=no>{{ user.roles.join(", ") }}</p>
                <p class="list-item-two-rows-bottom-right text-vsm">({{ user.registrationComplete ? "v" : "x" }}) {{ user.registrationOn | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
            </li>
        } @empty {
            <li class="list-item">
                <p class="text-green text-center">No users</p>
            </li>
        }
        <!-- @formatter:on -->
    </ul>

</div>

<dialog #users.errorReadingUsers>
    <p class="mt-1_25 text-center text-green">Error reading users.</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
