<div class="page-headline">
    <h1>Products</h1>

    <div class="nav-top">
        <a routerLink="/{{routeName.products_new}}" class="nav-top-link">New</a>
    </div>
</div>

<div class="page-content">

    <ul class="list scrollable">
        @for (product of products; track product; let i = $index) {
            <li (click)="onClick(i)" (keydown)="onClick(i)" class="list-item-two-rows">
                <p class="list-item-two-rows-top">{{ product.id }}</p>
                <p class="list-item-two-rows-bottom-left" translate=no>{{ product.name }}</p>
                <p class="list-item-two-rows-bottom-right">{{ product.price }} {{ currency }}</p>
            </li>
        } @empty {
            <li class="list-item">
                <p class="text-green text-center">No products</p>
            </li>
        }
    </ul>

</div>

<dialog #products.errorReadingProducts>
    <p class="mt-1_25 text-center text-green">Error reading products.</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.message }}</p>
    <p class="mt-1_25 text-center text-green" translate=no>{{ error?.error }}</p>
    <p class="mt-1_25 text-center text-green">(click anywhere to close)</p>
</dialog>
