<h1>Login details</h1>

<table aria-hidden="true">
    <tr>
        <td class="table-row-left">User:</td>
        <td class="table-row-right">{{ jwtDetails.username }}</td>
    </tr>
    <tr>
        <td class="table-row-left">Roles:</td>
        <td class="table-row-right">{{ jwtDetails.authorities.join(", ") }}</td>
    </tr>
    <tr>
        <td class="table-row-left">Issued at:</td>
        <td class="table-row-right">{{ jwtDetails.issuedAt | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
    </tr>
    <tr>
        <td class="table-row-left">Expires at:</td>
        <td class="table-row-right">{{ jwtDetails.expiresAt | date: 'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
    </tr>
    <tr>
        <td class="table-row-left">Logout in:</td>
        <td class="table-row-right">{{ jwtDetails.expiresLeft | date: 'HH:mm:ss':'UTC' }}</td>
    </tr>

</table>

<button type="submit" (click)="onLogout()" class="mt-1_25">Logout</button>
